.cardContainer {
    position: relative;
    background-color: rgb(200, 225, 225);
    border: 1px solid;
    height: 280px;
    width: 200px;
    text-align: center;
    margin: 10px 5px;
    border-radius: 10px;
}

.cardContainer img {
    height: 200px;
    width: 200px;
}

.cardContainer h2 {
    font-size: 16px;
}
